/* App.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.content {
  display: flex;
  flex-grow: 1;
}

nav {
  background-color: #f1f1f1;
  padding: 10px;
}

aside {
  width: 250px;
  background-color: #f9f9f9;
  padding: 10px;
}

main {
  flex-grow: 1;
  padding: 10px;
}
